.searchBarSection {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.searchInput {
    padding: 12px;
    font-size: 1.2em;
    width: 60vw;
    border-radius: 4px;
    background-color: var(--search-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.searchInput::placeholder {
    color: var(--text-color);
}

.searchInput:focus {
    outline: none;
}

.themeToggle {
    padding: 12px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    background-color: var(--card-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.userListSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}