.userCard {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    border: 1px solid var(--border-color);
    transition: all 0.2s ease;
}

.userCard:hover {
    scale: 1.02;
    cursor: pointer;
}

.personalInfoSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userName {
    color: var(--text-color);
}

.userEmail {
    padding-bottom: 10px;
}

.addressSection {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addressSection h4 {
    color: var(--text-color);
    font-size: 0.9em;
}

span {
    font-weight: 600;
    color: var(--text-color);
}

p {
    font-size: 0.85em;
    color: var(--text-color);
}