@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  background-color: #D9DFC6;
  font-family: 'Inter', sans-serif;
  color: #2C3639;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}